{
  "service": {
    "name": "{{ haproxy_service }}",
    "port": 8101,
    "address": "{{ hostvars[inventory_hostname]['do_networks']['v4'] | selectattr('type', 'equalto', 'private') | map(attribute='ip_address') | first }}",
    "check": {
      "http": "http://127.0.0.1:8101/health_check",
      "interval": "10s"
    }
  }
}
