vrrp_script chk_haproxy {
  script "pidof haproxy"
  interval 2			# check every 2 seconds
}

vrrp_instance VRRP_1 {
  interface {{ ka_dev }}
  state {{ 'MASTER' if inventory_hostname in groups['haproxy_master'] else 'BACKUP' }}
  priority {{ '200' if inventory_hostname in groups['haproxy_master'] else '100' }}
  virtual_router_id 10
  virtual_ipaddress {
    {{ ka_vip }}
  }

  advert_int 1
  authentication {
    auth_type PASS
    auth_pass {{ ka_secret }}
  }

  track_script {
    chk_haproxy
  }

}

