{
  "allow_user_certificates": true,
  "allowed_users": "*",
  "default_extensions": [
    {
      "permit-pty": ""
    }
  ],
  "key_type": "ca",
  "default_user": "{{ default_user }}",
  "ttl": "{{ def_lease_ttl }}",
  "max_ttl": "{{ max_lease_ttl }}"
}
