---
# defaults file for ansible-role-vault-install

vault_src: "https://releases.hashicorp.com/vault/1.3.0/vault_1.3.0_linux_amd64.zip"
vault_chksum: "sha256:d89b8a317831b06f2a32c56cb86071d058b09d9317b416bb509ce3d01e912eb3"
vault_bin_path: "/usr/bin"
vault_conf: "/etc/vault/config.hcl"
tls_disable: "false"
vault_certs: "/etc/vault/certs"
vault_cn: "{{ ansible_fqdn }}"
vault_cc: "UK"
vault_on: "Vault"
vault_privkey: "{{ vault_certs }}/{{ ansible_fqdn | regex_replace('^www\\.', '') }}.pem"
vault_csr: "{{ vault_certs }}/{{ ansible_fqdn }}.csr"
vault_certfile: "{{ vault_certs }}/{{ ansible_fqdn | regex_replace('^www\\.', '') }}.crt"
vault_base_ip: "10.1.42."
vault_addr: "{{ ansible_fqdn }}"
vault_port: "8200"
vault_cluster_port: "8201"
consul_port: "8500"
vault_user: "vault"
vault_uid: "8201"
vault_group: "vault"
vault_gid: "8201"
vault_service: "vault"
vault_profile: "/etc/profile.d/vault.sh"

