listener "tcp" {
  address          = "0.0.0.0:{{ vault_port }}"
  cluster_address  = "{{ hostvars[inventory_hostname]['ansible_all_ipv4_addresses'] | select('match', vault_base_ip) | list | first }}:{{ vault_cluster_port }}"
  tls_disable      = "false"
  tls_key_file     = "{{ vault_privkey }}"
  tls_cert_file    = "{{ vault_certfile }}"
}

storage "consul" {
  address = "127.0.0.1:{{ consul_port }}"
  path    = "{{ vault_data }}/"
}

api_addr = "http://{{ hostvars[inventory_hostname]['ansible_all_ipv4_addresses'] | select('match', vault_base_ip) | list | first }}:{{ vault_port }}"
cluster_addr = "https://{{ hostvars[inventory_hostname]['ansible_all_ipv4_addresses'] | select('match', vault_base_ip) | list | first }}:{{ vault_port }}:{{ vault_cluster_port }}"

